[user]
  name = xiupos
  email = me@xiupos.net
	signingkey = me@xiupos.net

[init]
  defaultbranch = main
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
